body{
 font-family: Arial;
 background:#f5f5f5;
 text-align:center;
}

.container{
 margin-top:150px;
}

h1{
 font-size:40px;
 margin-bottom:40px;
}

.btn{
 display:block;
 margin:20px auto;
 padding:15px 40px;
 font-size:18px;
 border-radius:10px;
 border:1px solid black;
 background:white;
 cursor:pointer;
}

.btn:hover{
 background:#ddd;
}
.rating button{
    padding:10px;
    margin:5px;
    font-size:16px;
}
input{
    padding:8px;
    font-size:16px;
}
.item{
    display:flex;
    align-items:center;
    margin-top:10px;
    border-bottom:1px solid#ddd;
    padding:10px;
}
.item img{
    width:60px;
    height:60px;
    margin-left:10px;
}

.menu{
    position:fixed;
    bottom:0;
    width:100%;
    display:flex;
    justify-content:space-around;
    padding:10px;
}
/* 画面全体を中央寄せにする設定 */
body, html {
    height: 100%;
    margin: 0;
}

.login-wrapper {
    display: flex;
    justify-content: center; /* 横方向の真ん中 */
    align-items: center;     /* 縦方向の真ん中 */
    height: 100vh;           /* 画面の高さ100%分 */
    text-align: center;      /* 文字も真ん中に */
}
body {
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center; /* 1行で上下左右中央に配置 */
}
/.login-container {
    background-color: transparent !important; /* 背景色を透明に */
    box-shadow: none !important;             /* 外側の影も消す場合 */
    border: none !important;                   /* 枠線も消す場合 */
}

